In [12]:
import pandas as pd
import random

In [13]:
main = pd.read_excel('Book1.xlsx')

In [14]:
main.head()

,Name,Title,Company,Type,Strength of Relationship,Phone,Email,Notes
0,Jonathan Ting,Senior Associate,Industry Ventures,Later-Stage VC,Professional,1.510331e+10,jonathan@industryventures.com,NaN
1,Zane Veater,Investor,Section Partners,Secondary,Professional,1.559760e+10,zane@sectionpartners.com,NaN
2,Ken Sawyer,Managing Principal,Saints Capital,Secondary,Professional,NaN,ken@saintscapital.com,NaN
3,Dan Kennedy,Partner,Akkadian,Secondary,Professional,NaN,dan@akkadian.vc,NaN
4,Catherine Williams,Principal,Dundee Ventures,Early-Stage VC,Warm,NaN,catherine@dundeevc.com,NaN

In [15]:
int_num = random.randint(1,4)
int_num

2

In [16]:
email = main[main['Name'] == 'Jonathan Ting']

In [8]:
def email_set(name):
    email = main[main['Name'] == {name}]
    if int_num == 1:
        print(f"Hope all is well! I wanted to introduce you to {name} with [Company Name] who is an [title] on the team. [Company Name] is a [company type] that [description]. Iâ€™ll let you two take it from here. ")
    elif int_num == 2:
        pass
    elif int_num == 3:
        pass
    else:
        pass